<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>MyLock</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<description>
		</description>
		<display-name>CheckCode</display-name>
		<servlet-name>CheckCode</servlet-name>
		<servlet-class>other.yanzhengma.CheckCode</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Changecheckcode</display-name>
		<servlet-name>Changecheckcode</servlet-name>
		<servlet-class>other.yanzhengma.Changecheckcode</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logcheck</display-name>
		<servlet-name>Logcheck</servlet-name>
		<servlet-class>other.yanzhengma.Logcheck</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckCode</servlet-name>
		<url-pattern>/CheckCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Changecheckcode</servlet-name>
		<url-pattern>/Changecheckcode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logcheck</servlet-name>
		<url-pattern>/Logcheck</url-pattern>
	</servlet-mapping>
</web-app>